@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


#scrolling {
    color:white;
    font-family: 'Roboto Mono';
    font-weight: 1000;
    font-size: 70pt;
    text-align: center;
}

#intro {
    color:white;
    font-family: 'Roboto Mono';
    font-weight: 1000;
    font-size: 45pt;
    text-align: center;
    padding-top: 20pt;
}
#intro1 {
    color:white;
    font-family: 'Roboto Mono';
    font-weight: 1000;
    font-size: 45pt;
    text-align: center;
    padding-top: 20pt;
}
#intro2 {
    color:white;
    font-family: 'Roboto Mono';
    font-weight: 1000;
    font-size: 45pt;
    text-align: center;
    padding-top: 20pt;
}

#contact {
    align-self: center;
    text-align: center;
    color: white;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    image-resolution: 100%;
}

#main {
    background-color: black;
    size: 100%;
}



#csmain {
    background-color: #3a3a3a;
}

#steamsignature {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inv {
    color:white;
    background: darkslategray;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    align-self: center;
    justify-content: center;
}

a {
    color:inherit;
}